@{
    Layout = "~/Views/Shared/_LayoutWithoutAccount.cshtml";
    ViewBag.Title = "パスワードを忘れた場合";
}
<div class="container">
    <hgroup>
        <h1>パスワード再設定メールを送信しました。</h1>
    </hgroup>
    <div>
        <p>
            メールを確認してパスワードをリセットしてください。
        </p>
    </div>
</div>