@{
    Layout = "~/Views/Shared/_LayoutWithoutAccount.cshtml";
    ViewBag.Title = "登録";
}
<div class="container">
    <hgroup>
        <h1>登録されたメールアドレス宛に確認メールを送付しました。</h1>
    </hgroup>
    <div>
        <p>
            メールアドレスに記載されたURLにアクセスすると登録が完了します。
        </p>
    </div>
</div>