@{
    Layout = "~/Views/Shared/_LayoutWithoutAccount.cshtml";
    ViewBag.Title = "パスワードのリセットの確認";
}
<div class="container">
    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
    </hgroup>
    <div>
        <p>
            パスワードがリセットされました。@Html.ActionLink("ここをクリックしてログイン", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })してください
        </p>
    </div>
</div>